

body{

    background-image: url(wildlife.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparent-background{
    background-color: rgba(252, 249, 249, 0.5) !important;
    

}

/* space the modal from the top of the browser */
#modal-body {
    top: 30%;
    bottom: 10%
}

#find-modal-body {
    top: 30%;
    bottom: 10%
}