

body{

    background-image: url(wildlife.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparent-background{
    background-color: rgba(252, 249, 249, 0.5) !important;
    

}

/* space the modal from the top of the browser */
#modal-body {
    top: 30%;
    bottom: 10%
}

#find-modal-body {
    top: 30%;
    bottom: 10%
}
#parkUrlDisplay{
    font-weight: bolder;
    font-size: larger;
    margin-bottom: 1rem;
}
#park-title {
    font-style: oblique;
    font-weight: bolder;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}
#tempPark {
    font-weight: bolder;
    padding-bottom: 2rem;
}